@use "./base.scss";

/* 푸터 아이콘 스타일 */
.footer-icons {
  display: flex;
  justify-content: right; /* 가운데 정렬 */
  gap: 15px; /* 아이콘 사이 간격 */
  margin-top: 10px;
}

.social-icon {
  width: 24px;   /* 아이콘 크기 (원하는대로 조절하세요) */
  height: 24px;
  opacity: 1; 
}

.social-icon:hover {
  transform: scale(1.2); /* (보너스) 살짝 1.1배 커지는 효과 */
}

/* Page Title (좌측 상단 웹사이트 제목) 폰트 강제 변경 */
.page-title {
  font-size: 1.75rem !important; /* !important는 강제 적용입니다 */
  font-family: "Greca", sans-serif !important; 
  
  /* 링크 색상이나 스타일도 여기서 바꿀 수 있습니다 */
  a {
    font-weight: 700;
  }
}